@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* .teste {
  position: absolute;
  top: 50px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

* .teste:hover {
  opacity: 1;
}

body {
  background-color: #e1e1e1;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.icon-Bop-055 {
  width: 24px;
  height: 24px;
  background-image: url(../assets/Bop-055.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  cursor: pointer;
}

.icon-Bop-171 {
  background-image: url(../assets/Bop-171.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  cursor: pointer;
}

.btn {
  background-color: #f6334f;
  min-width: 168px;
  padding: 16px 24px;
  display: inline-block;
  text-align: center;
  border-radius: 28px;
  position: relative;
  margin: 0 20px 24px;
  margin-bottom: 24px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  letter-spacing: 1.7px;
  -webkit-box-shadow: 0 6px 15px 2px rgba(246, 51, 79, 0.4), inset 0 0 18px 0 rgba(246, 51, 79, 0.8);
          box-shadow: 0 6px 15px 2px rgba(246, 51, 79, 0.4), inset 0 0 18px 0 rgba(246, 51, 79, 0.8);
  text-transform: uppercase;
  border: 0;
  margin-top: 48px;
}

.search {
  background-color: #652A8E;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

.search .container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search .container .titleContainer {
  margin-bottom: 72px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .container .titleContainer .searchTitle {
  font-size: 29px;
  font-weight: 100;
  text-transform: uppercase;
  color: #C39FDE;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search .container .titleContainer .loadingSearch {
  position: absolute;
  width: auto;
  height: 20px;
  bottom: 0;
}

.search .container .titleContainer .loadingSearch .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #C39FDE;
  width: 5px;
  height: 5px;
  position: absolute;
  -webkit-animation: loader 1s ease infinite both;
          animation: loader 1s ease infinite both;
  border-radius: 4px;
  bottom: 0;
}

.search .container .titleContainer .loadingSearch .loader:nth-child(1) {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.search .container .titleContainer .loadingSearch .loader:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.search .container .titleContainer .loadingSearch .loader:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

@-webkit-keyframes loader {
  0% {
    height: 5px;
    bottom: 0;
    opacity: 1;
  }
  25% {
    opacity: 0.3;
    bottom: 0;
    height: 20px;
  }
  50% {
    opacity: 1;
    height: 5px;
    bottom: calc(100% - 5px);
  }
  75% {
    opacity: 0.3;
    height: 20px;
    bottom: 0;
  }
  100% {
    opacity: 1;
    height: 5px;
    bottom: 0;
  }
}

@keyframes loader {
  0% {
    height: 5px;
    bottom: 0;
    opacity: 1;
  }
  25% {
    opacity: 0.3;
    bottom: 0;
    height: 20px;
  }
  50% {
    opacity: 1;
    height: 5px;
    bottom: calc(100% - 5px);
  }
  75% {
    opacity: 0.3;
    height: 20px;
    bottom: 0;
  }
  100% {
    opacity: 1;
    height: 5px;
    bottom: 0;
  }
}

.search .container form {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search .container form .btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
}

.search .container form .autocompleteField {
  position: relative;
  width: 100%;
  min-height: 80px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .container form .autocompleteField .inputSearch {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 80px;
  -webkit-transition: all 0.4s 0.6s ease, width 0.4s 0.2s ease;
  transition: all 0.4s 0.6s ease, width 0.4s 0.2s ease;
}

.search .container form .autocompleteField .inputSearch i {
  cursor: pointer;
  right: 10px;
  -webkit-transition: all 0.2s 0.2s ease, -webkit-transform 0.2s 0s ease;
  transition: all 0.2s 0.2s ease, -webkit-transform 0.2s 0s ease;
  transition: all 0.2s 0.2s ease, transform 0.2s 0s ease;
  transition: all 0.2s 0.2s ease, transform 0.2s 0s ease, -webkit-transform 0.2s 0s ease;
}

.search .container form .autocompleteField .inputSearch i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.search .container form .autocompleteField .inputSearch input {
  width: 100%;
  height: 40px;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 14px;
  color: transparent;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: all 0.4s 0.4s ease, border 0.4s 0.2s ease, color 0.4s 0.2s ease;
  transition: all 0.4s 0.4s ease, border 0.4s 0.2s ease, color 0.4s 0.2s ease;
}

.search .container form .autocompleteField .voiceSearch {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9351C2;
  border-radius: 100%;
  -webkit-transition: all 0.4s 0.6s ease;
  transition: all 0.4s 0.6s ease;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  position: relative;
}

.search .container form .autocompleteField .voiceSearch:before, .search .container form .autocompleteField .voiceSearch:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  background-color: #9351C2;
  border-radius: 100%;
  z-index: -1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search .container form .autocompleteField .voiceSearch i {
  cursor: default;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.4s 0.6s ease;
  transition: all 0.4s 0.6s ease;
}

.search .container form .autocompleteField .voiceSearch.animeVoice:before, .search .container form .autocompleteField .voiceSearch.animeVoice:after {
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  opacity: 0.4;
  -webkit-animation: voiceSearch 2.5s ease-in-out infinite;
          animation: voiceSearch 2.5s ease-in-out infinite;
}

@-webkit-keyframes voiceSearch {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes voiceSearch {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  20% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.search .container form .autocompleteField .voiceSearch.animeVoice:after {
  width: calc(100% + 80px);
  height: calc(100% + 80px);
  opacity: 0.2;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.search .container.showInput form .btn {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.4s 0.6s ease;
  transition: all 0.4s 0.6s ease;
}

.search .container.showInput form .autocompleteField .inputSearch {
  right: 0px;
  width: calc((100% - 24px) - 16px);
  -webkit-transition: all 0.4s 0s ease, width 0.4s 0.4s cubic-bezier(0.53, 0.03, 0.06, 1.21);
  transition: all 0.4s 0s ease, width 0.4s 0.4s cubic-bezier(0.53, 0.03, 0.06, 1.21);
}

.search .container.showInput form .autocompleteField .inputSearch i {
  right: 16px;
  -webkit-transition: all 0.2s 0.4s ease, -webkit-transform 0.2s 0s ease;
  transition: all 0.2s 0.4s ease, -webkit-transform 0.2s 0s ease;
  transition: all 0.2s 0.4s ease, transform 0.2s 0s ease;
  transition: all 0.2s 0.4s ease, transform 0.2s 0s ease, -webkit-transform 0.2s 0s ease;
}

.search .container.showInput form .autocompleteField .inputSearch i:hover {
  -webkit-transform: none;
          transform: none;
}

.search .container.showInput form .autocompleteField .inputSearch input {
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 0px 40px 0px 16px;
  cursor: text;
  -webkit-transition: all 0.4s 0.2s ease, color 0.4s 0.8s ease;
  transition: all 0.4s 0.2s ease, color 0.4s 0.8s ease;
}

.search .container.showInput form .autocompleteField .voiceSearch {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
  background-color: transparent;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.4s 0s ease;
  transition: all 0.4s 0s ease;
}

.search .container.showInput form .autocompleteField .voiceSearch i {
  cursor: pointer;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.2s 0s ease;
  transition: all 0.2s 0s ease;
}

.search .container.showInput form .autocompleteField .voiceSearch i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=main.css.map */