@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');


$m-01: #f6334f;

$m-04: #9351C2;
$m-04--dark-01: #652A8E;
$m-04--dark-02: #C39FDE;

$neu-01: #363636;
$neu-02: #5A5A5A;
$neu-03: #909090;

$cubic: cubic-bezier(0.53, 0.03, 0.06, 1.21);


@mixin md {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 512px) {
        @content;
    }
}



* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

body {
    background-color: #e1e1e1;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    transition: all 0.4s ease;
}

// Genereal Styles for the icons

.icon-Bop-055 {
    width: 24px;
    height: 24px;
    background-image: url(../assets/Bop-055.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    cursor: pointer;
}

.icon-Bop-171 {
    background-image: url(../assets/Bop-171.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    cursor: pointer;
}

// Genereal Styles for Button
.btn {
    background-color: $m-01;
    min-width: 168px;
    padding: 16px 24px;
    display: inline-block;
    text-align: center;
    border-radius: 28px;
    position: relative;
    margin: 0 20px 24px;
    margin-bottom: 24px !important;
    box-sizing: border-box;
    font-weight: 700;
    letter-spacing: 1.7px;
    box-shadow: 0 6px 15px 2px rgba(246, 51, 79, 0.4), inset 0 0 18px 0 rgba(246, 51, 79, 0.8);
    text-transform: uppercase;
    border: 0;
    margin-top: 48px;
}


// Search Modal
.search {
    background-color: $m-04--dark-01;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;

    .container {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .searchTitle {
            font-size: 29px;
            font-weight: 100;
            text-transform: uppercase;
            color: $m-04--dark-02;
            text-align: center;
            margin-bottom: 72px;
            transition: all 0.4s ease;
        }

        form {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            // Button starts hidden
            .btn {
                transition: all 0.4s ease;
                transform: translateY(40px);
                opacity: 0;
            }

            // Search Content
            .autocompleteField {
                position: relative;
                width: 100%;
                min-height: 80px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                // Input Search
                .inputSearch {
                    width: 40px;
                    height: 40px;
                    position: relative;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: 80px;
                    transition: all 0.4s 0.6s ease, width 0.4s 0.2s ease;

                    i {
                        cursor: pointer;
                        right: 10px;
                        transition: all 0.2s 0.2s ease, transform 0.2s 0s ease;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }

                    input {
                        width: 100%;
                        height: 40px;
                        border: 1px solid transparent;
                        background-color: transparent;
                        font-size: 14px;
                        color: transparent;
                        border-radius: 100%;
                        cursor: pointer;
                        transition: all 0.4s 0.4s ease, border 0.4s 0.2s ease, color 0.4s 0.2s ease,
                    }
                }

                //Voice Search
                .voiceSearch {
                    width: 80px;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $m-04;
                    border-radius: 100%;
                    transition: all 0.4s 0.6s ease;
                    transform: translateX(-20px);
                    position: relative;

                    &:before,
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        background-color: $m-04;
                        border-radius: 100%;
                        z-index: -1;
                        transition: all 0.4s ease;
                    }

                    i {
                        cursor: default;
                        width: 50px;
                        height: 50px;
                        transition: all 0.4s 0.6s ease;
                    }

                    // Class to Anime the Voice Search

                    &.animeVoice {

                        &:before,
                        &:after {
                            width: calc(100% + 40px);
                            height: calc(100% + 40px);
                            opacity: 0.4;
                            animation: voiceSearch 2.5s ease-in-out infinite;

                            @keyframes voiceSearch {
                                0% {
                                    transform: scale(1);
                                }

                                10% {
                                    transform: scale(1.2);
                                }

                                20% {
                                    transform: scale(0.7);
                                }

                                30% {
                                    transform: scale(1);
                                }

                                50% {
                                    transform: scale(0.6);
                                }

                                60% {
                                    transform: scale(1.1);
                                }

                                90% {
                                    transform: scale(0.9);
                                }

                                100% {
                                    transform: scale(1);
                                }
                            }
                        }

                        &:after {
                            width: calc(100% + 80px);
                            height: calc(100% + 80px);
                            opacity: 0.2;
                            animation-delay: 0.1s;
                        }
                    }
                }
            }
        }

        // Class to Show the Input Search
        &.showInput {
            form {

                // To Show the Button
                .btn {
                    opacity: 1;
                    transform: translateY(0px);
                    transition: all 0.4s 0.6s ease;
                }

                .autocompleteField {

                    // To Show the Input Search
                    .inputSearch {
                        right: 0px;
                        width: calc((100% - 24px) - 16px);
                        transition: all 0.4s 0s ease, width 0.4s 0.4s $cubic;

                        i {
                            right: 16px;
                            transition: all 0.2s 0.4s ease, transform 0.2s 0s ease;

                            &:hover {
                                transform: none;
                            }
                        }

                        input {
                            color: white;
                            border: 1px solid white;
                            border-radius: 8px;
                            padding: 0px 40px 0px 16px;
                            cursor: text;
                            transition: all 0.4s 0.2s ease, color 0.4s 0.8s ease,
                        }
                    }

                    // Resize the Voice Search
                    .voiceSearch {
                        transform: translateX(16px);
                        background-color: transparent;
                        width: 24px;
                        height: 24px;
                        transition: all 0.4s 0s ease;

                        i {
                            cursor: pointer;
                            width: 24px;
                            height: 24px;
                            transition: all 0.2s 0s ease;

                            &:hover {
                                transform: scale(1.2)
                            }
                        }
                    }
                }
            }
        }
    }
}